<!DOCTYPE html>
<html>
  <head>
    <title>Otomari</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
     <div class="header-inner">
       <div class="header-left-nav">
         <a href="http://[::1]:3000/">
           <img alt ="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="">
         </a>
        <form action="https://presite-potepancamp-rails-02.herokuapp.com/  rooms/search" accept-charset="UTF-8" method="get">
          <div class="header-sharch d-lg-inline-block d-none">
            <input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア">
            <i class="fas fa-map-marker-alt"><img src="https://everydayicons.jp/wp/wp-content/themes/everydayicons/icons/thumbs/ei-search.png" width="20px" height="20px"></i>
          </div>
          <div class="header-sharch d-lg-inline-block d-none">
            <input type="text" name="keyword" id="keyword" value="" class="form-control" placeholder="キーワード">
            <i class="fas fa-search"><img src="https://everydayicons.jp/wp/wp-content/themes/everydayicons/icons/thumbs/ei-search.png" width="20px" height="20px"></i>
          </div>
          <input type="submit" name="commit" value="" class="d-none" data-disable-with="">
        </form>
       </div>

       <div class="header-right-nav">
         <div class="nav-item">
           <a href="/users/sign_in" class="btn btn-primary my-2 mx-3">ログイン</a>
           <a href="/users/sign_up" class="btn btn-secondary">登録する</a>
         </div>
       </div>
     </div>
    </header>
    <%= yield %>

    <footer class="footer">
      <p>©︎ 2020 POTEPAN.INC.</p>
    </footer>


  </body>
</html>
